body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e3e4e88f;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* style of pagination */
.pagination-list {
  display: flex;
  gap: 15px;
}
/* style of select */

.activePaginateLink {
  color: rgb(180, 114, 16);
  font-weight: bold;
}

.basic-single {
  width: 80px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-9 {
  color: #000000;
  border: 1px solid #4b4b47;
  box-shadow: 0 0 5px #4b4b47, 0 0 5px #4b4b47 inset;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-9:after {
  position: absolute;
  content: ' ';
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.btn-9:hover {
  color: #fff;
}
.btn-9:hover:after {
  background: #4b4b47;
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 1), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 1), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

/* checkbox styles */
:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 90%);
  --fg: hsl(var(--hue), 90%, 10%);
  --trans-dur: 0.3s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
}

.switch,
.switch__input {
  -webkit-tap-highlight-color: transparent;
}
.switch {
  position: relative;
  width: 30px;
  height: 17px;
}
.switch__check {
  display: block;
  transform: translateX(0) rotate(0);
  transition: transform var(--trans-dur) var(--trans-timing);
  /* z-index: 1; */
}
.switch__check-line {
  transform: translate(0, 0);
  transition: stroke var(--trans-dur) var(--trans-timing),
    stroke-dashoffset var(--trans-dur) var(--trans-timing),
    transform var(--trans-dur) var(--trans-timing);
}
.switch__input {
  background-color: hsla(var(--hue), 90%, 50%, 0);
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.0625em hsl(var(--hue), 10%, 50%) inset,
    0 0.25em 1em hsla(var(--hue), 90%, 10%, 0);
  cursor: pointer;
  display: block;
  outline: transparent;
  width: 100%;
  height: 100%;
  transition: background-color var(--trans-dur) var(--trans-timing),
    box-shadow var(--trans-dur) var(--trans-timing);
  -webkit-appearance: none;
  appearance: none;
}
.switch__input:before,
.switch__input:after {
  content: '';
  display: block;
}
.switch__input:before {
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  box-shadow: 0 0.125em 0.25em hsla(var(--hue), 90%, 10%, 0);
  transition: box-shadow var(--trans-dur) var(--trans-timing),
    transform var(--trans-dur) var(--trans-timing);
}
.switch__input:after {
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.125em hsla(var(--hue), 90%, 70%, 0);
  width: 100%;
  height: 100%;
  transition: box-shadow 0.15s linear;
}
.switch__input:focus-visible:after {
  box-shadow: 0 0 0 0.125em hsla(var(--hue), 90%, 70%, 1);
}
.switch__check,
.switch__input:before {
  position: absolute;
  top: 2px;
  left: 0.25em;
  width: 18px;
  height: 18px;
}
.switch__input:checked {
  background-color: hsla(var(--hue), 90%, 50%, 1);
  box-shadow: 0 0 0 0.0625em hsl(var(--hue), 90%, 50%) inset,
    0 0.25em 1em hsla(var(--hue), 90%, 10%, 0.5);
}
.switch__input:checked:before {
  box-shadow: 0 0.125em 0.25em hsla(var(--hue), 90%, 10%, 0.5);
  transform: translateX(1em);
}
.switch__input:checked + .switch__check {
  animation: switch-check var(--trans-dur) var(--trans-timing);
  transform: translateX(1em) rotate(-225deg);
}
.switch__input:checked + .switch__check .switch__check-line {
  stroke: hsl(var(--hue), 90%, 50%);
  stroke-dashoffset: 0;
  transform: translate(-1px, -1px);
  transition-delay: 0s, calc(var(--trans-dur) / 2), 0s;
}
.switch__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 90%);
  }
}

/* Animations */
@keyframes switch-check {
  from {
    transform: translateX(0) rotate(0);
  }
  to {
    transform: translateX(1em) rotate(135deg);
  }
}
